<template>
  <v-container
    class="d-flex align-center justify-center"
    style="height: 100%; width: 100%;"
  >
    <v-form
      ref="form"
      class="d-flex flex-column"
      lazy-validation
      @submit.prevent="userLogin"
      style="width: 30%;"
    >
      <v-text-field
        v-model="username"
        label="username"
        required outlined
        clearable
        style="height:20%"></v-text-field>

      <v-text-field
        v-model="password"
        label="password"
        type="password"
        required
        outlined
        clearable
        style="height: 20%"
      ></v-text-field>

      <v-btn elevation="2" type="submit">login</v-btn>
    </v-form>
  </v-container>
</template>

<script>
export default {
  name: "LoginPage",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  computed: {
    loginData() {
      return {
        username: this.username,
        password: this.password,
      };
    },
  },

  methods: {
    async userLogin() {
      try {
        let response = await this.$auth.loginWith('local', {data: this.loginData})
        this.$swal({
          text: "you logged in successfully",
          toast: true,
          position: "top",
          showConfirmButton: false,
          timer: 3000,
          icon: "success"
        });
      } catch (err) {
        this.$swal({
          text: "username or password is wrong.",
          toast: true,
          position: "top",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          icon: "error"
        });
      }
    }
  }
}
;
</script>
