<template>
  <v-card
    height="100%"
    width="30%"
  >
    <v-navigation-drawer permanent width="100%" style="overflow: unset;">

      <v-divider></v-divider>

      <v-list style="height: 100%; max-height: 400px;" class="d-flex flex-column"
              dense
              nav
      >
        <v-list-item class="text-left"
                     v-for="item in items"
                     :key="item.title"
                     link
        >

          <v-list-item-content>
            <v-list-item-title style="font-size: 15px; text-align: left; max-height: 100%">{{
                item.title
              }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {title: 'My profile', icon: 'mdi-view-dashboard'},
        {title: 'Employees Profiles', icon: 'mdi-view-dashboard'},
        {title: 'Invention', icon: 'mdi-view-dashboard'},
      ],
      right: null,
      userPosition: "",
      userEmail: "",
      UserProfileData: "",
      UserProfileId: "",
      Profiles: []
    }
  },
  methods: {
    async fetchUserCredentialsAndFetchUserProfile() {
      let userData = await this.$axios.$get("/hr_department/employee-credentials/")
      this.userPosition = userData.position
      this.userEmail = userData.organization_email
      this.UserProfileId = userData.profile_id

      let userProfile = await this.$axios.$get("/hr_department/profiles/".concat(userData.profile_id, "/"))
      this.UserProfileData = userProfile
    },
    async fetchEmployeesProfiles() {
      let ProfilesData = await this.$axios.$get("/hr_department/profiles/")
      this.Profiles = ProfilesData.result
    },
  },
  beforeMount() {
    this.fetchUserCredentialsAndFetchUserProfile()
  }
}

</script>
